@font-face {
  font-family: "IranSans";
  font-weight: 100; // Ultralight
  src: url("/assets/fonts/woff/IRANSansXFaNum-UltraLight.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-weight: 200; // Thin
  src: url("/assets/fonts/woff/IRANSansXFaNum-Thin.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-weight: 300; // Light
  src: url("/assets/fonts/woff/IRANSansXFaNum-Light.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-weight: 400; // Regular
  src: url("/assets/fonts/woff/IRANSansXFaNum-Regular.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-weight: 500; // Medium
  src: url("/assets/fonts/woff/IRANSansXFaNum-Medium.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-weight: 600; // Demibold
  src: url("/assets/fonts/woff/IRANSansXFaNum-DemiBold.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-weight: 700; // Bold
  src: url("/assets/fonts/woff/IRANSansXFaNum-Bold.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-weight: 800; // Extrabold
  src: url("/assets/fonts/woff/IRANSansXFaNum-ExtraBold.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "IranSans";
  font-weight: 900; // Black
  src: url("/assets/fonts/woff/IRANSansXFaNum-Black.woff") format("woff"),
  url("/assets/fonts/woff2/IRANSansXFaNum-Black.woff2") format("woff2");
}
